#
# Synopsis EMAC device configuration
#

config EMAC_DWC_EQOS
	tristate "Qualcomm Technologies Inc. EMAC support"
	depends on (ARM || ARM64)
	default y
	help
	  This driver supports the Synopsis EMAC Gigabit
	  Ethernet controller.

config EMAC_APP
       bool "EMAC app support"
       depends on EMAC_DWC_EQOS
       default y
       help
         Say y here if you want to run Neutrino ethernet open function


