#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_TOUCH
	tristate "Focaltech Touchscreen"
	default n
	help
	  Say Y here if you have Focaltech touch panel.
	  If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
	string "Focaltech ts directory name"
	default "focaltech_touch"
	depends on TOUCHSCREEN_FTS_TOUCH

config FTS_TRUSTED_TOUCH
	bool "Focaltech Trusted Touch"
	depends on TOUCHSCREEN_FTS_TOUCH
	help
	  Say Y here to enable Focaltech Trusted Touch.
	  If unsure, say N.

#endif
