# Xiaomi configuration options

config MACH_XIAOMI
	bool "XIAOMI device"
	depends on ARCH_MSM
	help
	  Support for Xiaomi products

config MACH_XIAOMI_MSM8956
	bool "XIAOMI MSM8956"
	depends on ARCH_MSM8916
	select MACH_XIAOMI
	help
	  Support for MSM8956 Xiaomi variants

menu "Xiaomi board selection"

	config MACH_XIAOMI_KENZO
		bool "XIAOMI_KENZO board"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Redmi Note 3 variant

	config MACH_XIAOMI_HYDROGEN
		bool "XIAOMI_HYDROGEN board"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Mi Max variant

endmenu

menu "AGNi variant selection"

	config MACH_XIAOMI_KENZO_AGNI_CM_N
		bool "XIAOMI KENZO AGNi for cm-N"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Redmi Note 3 AGNi cyanogenmod 14.x

	config MACH_XIAOMI_KENZO_AGNI_CM_MM
		bool "XIAOMI KENZO AGNi for cm-MM"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Redmi Note 3 AGNi cyanogenmod 13.1

	config MACH_XIAOMI_KENZO_AGNI_MIUI_MM
		bool "XIAOMI KENZO AGNi for miui-MM"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Redmi Note 3 AGNi MIUI MM

	config MACH_XIAOMI_KENZO_AGNI_MIUI_N
		bool "XIAOMI KENZO AGNi for miui-N"
		select MACH_XIAOMI_MSM8956
		help
		  Support for Xiaomi Redmi Note 3 AGNi MIUI N

endmenu

