/* Copyright (c) 2016-2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	qcom,msm-thermal-simple {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "qcom,msm-thermal-simple";
		qcom,thermal-vadc = <&pm660_vadc>;
		qcom,adc-channel = <0x4c>;
		qcom,poll-ms = <3000>;
		qcom,start-delay = <60>;
		zone@0 {
			reg = <0>;
			qcom,silver-khz = <1843200>;
			qcom,gold-khz = <2150400>;
			qcom,trip-deg = <39>;
		};

		zone@1 {
			reg = <1>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <2150400>;
			qcom,trip-deg = <41>;
		};

		zone@2 {
			reg = <2>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <1958400>;
			qcom,trip-deg = <43>;
		};

		zone@3 {
			reg = <3>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <1747200>;
			qcom,trip-deg = <45>;
		};

		zone@4 {
			reg = <4>;
			qcom,silver-khz = <1747200>;
			qcom,gold-khz = <1401600>;
			qcom,trip-deg = <47>;
		};

		zone@5 {
			reg = <5>;
			qcom,silver-khz = <1536000>;
			qcom,gold-khz = <1401600>;
			qcom,trip-deg = <59>;
		};

		zone@6 {
			reg = <6>;
			qcom,silver-khz = <1536000>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <53>;
		};

		zone@7 {
			reg = <7>;
			qcom,silver-khz = <1401600>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <57>;
		};

		zone@8 {
			reg = <8>;
			qcom,silver-khz = <1113600>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <59>;
		};

		zone@9 {
			reg = <9>;
			qcom,silver-khz = <902400>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <64>;
		};

		zone@10 {
			reg = <10>;
			qcom,silver-khz = <633600>;
			qcom,gold-khz = <1113600>;
			qcom,trip-deg = <69>;
		};
	};
};
