# (c) 2018-2021 changes for AGNi kernel

# Set init values
on property:sys.post_boot.parsed=1
    setprop vendor.post_boot.parsed 1

on property:vendor.post_boot.parsed=1
    exec u:r:magisk:s0 root root -- ${MAGISKTMP}/init.agni.sh

