config BATT_VERIFY_BY_DS28E16
	bool "Support ds28e16 as encryption IC."
	default y
	help
		It needs a onewire physical controller to work.

config ONEWIRE_GPIO
	bool "Support Onewire Driver."
	depends on BATT_VERIFY_BY_DS28E16
	default y
	help
		It's an onewire driver.
