config AINUR_DTS_SW
	bool "Ainur DTS software driver"
	depends on ARM || ARM64
	default n
	help
	  Driver port of DTS' android audio software-processed
	  effect, which can be built side-by-side along with
	  the hardware-processed effect driver.
